.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  &__container {
    display: flex;
  }
  &__left {
    margin-right: 70px;
  }
  &__right {
    padding-top: 12px;
    margin-right: 93px;
  }
  &__social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    display: block;
    margin-bottom: 20px;
  }
}

.footer-address {
  &__item {
    display: block;
    margin-bottom: 9px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &__contacts-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
  }
}

.subscribe {
  padding-top: 12px;
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    display: block;
    margin-bottom: 20px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__mail {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    color: var(--main-title-color);
  }
  &__mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &__btn {
    padding: 10px 28px 10px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__send-icon {
    fill: currentColor;
  }
}
