.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__marker {
    color: #2196f3;
  }
  .header & {
    color: #000000;
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
  .footer & {
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
  }
}
