body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

address {
  font-style: inherit;
}

button {
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
