body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

address {
  font-style: inherit;
}

button {
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.waste {
  width: 300px;
  height: 110px;
}
